<!-- your html code here -->
<div class="container mt-5 mb-5">

    <h1>Contact</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="row d-flex justify-content-center fs-6 fw-bold">
        <div class="col-8 ">
            <div class="container border border-1 border-grey p-3 ">

                <div class="mb-3 row ps-5">
                    <label for="exampleFormControlInput1" class="form-label col-2 d-flex justify-content-end">Your E-mail</label>
                    <div class="col-10">
                        <input type="email" class="form-control fs-6" id="exampleFormControlInput1" placeholder="Your email">
                    </div>
                </div>
                <div class="mb-3 row ps-5">
                    <label for="exampleFormControlTextarea1" class="form-label col-2 d-flex justify-content-end">Your message</label>
                    <div class="col-10">
                        <textarea class="form-control fs-6" id="exampleFormControlTextarea1" rows="5" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
                <div class="container d-flex justify-content-end pe-0">
                    <button type="button" class="btn btn-primary ">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>